
@font-face {
    font-family: "futura_m";
    src: url(../font/Futura-Med.eot) format("eot"), url(../font/Futura-Med.woff) format("woff")
}

@font-face {
    font-family: "futura_r";
    src: url(../font/Futura-Boo.eot) format("eot"), url(../font/Futura-Boo.woff) format("woff")
}

@font-face {
    font-family: "futura_b";
    src: url(../font/Futura-Bol.eot) format("eot"), url(../font/Futura-Bol.woff) format("woff")
}

@font-face {
    font-family: "futura_de";
    src: url(../font/Futura-Dem.eot) format("eot"), url(../font/Futura-Dem.woff) format("woff")
}

body {
  color: #fff;
  // color: rgba(0, 0, 0, 0.5);
  font-family: 'futura_r', sans-serif;
}

a:link, a:visited {
    color: #19E68C;
    text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

.section {
  text-align: left;
}
.section p {
    color: #fff;
    font-size: 2.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
}
.section .textes p{
    font-size: 1.5em;
}

.section .slide img{
    width: 560px;
    float: left;
    margin-left: 80px;
    margin-right: 20px;
}
.section .slide h2{
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 0;
}
.section .slide .desc{
    float: left;
    width: 40%;
    margin-right: 60px;
}
.section .slide .desc p{
    font-size: 1.4rem;
    line-height: 1.2;
}
.section .slide .desc strong{
    font-weight: bolder;
}
.section .slide .desc .technologies{
    margin-top: 10px;
}

.section h1 {
    font-size: 4em;
    //margin: 20px;
    //position: absolute;
    //top: 40px;
    left: 20px;
    font-weight: 200;
    line-height: 1;
    letter-spacing: 0.05em;

    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    //text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
}
.section h1.nom{
    position: absolute;
  top: 38%;
  left: 32%;
  transform: translate(-50%,-50%);
  font-size: 4.5em;
  line-height: 4.5rem;
  font-weight: 200;
}
.section h2 {
    font-size: 2.5rem;
    line-height: 1;
    margin-top: 1.5rem;
    font-family: 'futura_r', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
.section .apropos{
  margin: 20px;
}
.section .apropos .textes{
    width: 50%;
}

.section .apropos div.triangle {
    /*
    width: 300px;
    height: 300px;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    border: 2px green solid;
    //

    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 300px solid #19E68C;
    z-index: 1;
    */
    position: absolute;
    right: 180px;
    top: 10px;
    transform: rotate(30deg);
}


.section .card {
  display: inline;
  margin: 1em;
}

.section .desc-projet{
    color: white;
}
.section .card img {
 // width: 200px;
 // width: 350px;
}
.section .card img:hover {

}
.section .contacts{
    display: flex;
    justify-content: center;
}
.section .contacts a {
  margin: 20px;
  color: #f1f1f1;
  font-size: 2.8rem;
  line-height: 1.5;
  letter-spacing: 0.01em;
}
.section .contacts a:hover {
    text-decoration: none;
    color: #19E68C;
    transition: color 0.3s ease 0.15s;
}

.section img.profile {
    width: 30%;
    bottom: 0;
    right: 0%;
    position: absolute;
}
.section .flex.playlists{
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
}
.section .flex.playlists .playlist{
    z-index: 1;
}
.section .flex.playlists .description{
  font-weight: lighter;
  padding: 5px 0;
}
.section .cercle, .section .rectangle{
  position: absolute;
}
.section .cercle{
  width: 300px;
  height: 300px;
  border-radius: 100%;

}
.section .cercle.cercle1{
  width: 700px;
  height: 700px;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%);
  background: #19E68C;
}
.section .cercle.cercle2{
  width: 500px;
  height: 500px;
  left: -6%;
  top: -12%;
  background: #19E68C;
}
.section .cercle.cercle3{
  width: 100px;
  height: 100px;
  top: 5%;
  left: 35%;
  background-image: radial-gradient(circle, rgba(106, 255, 203, 0.7) 10%, rgba(0, 169, 157, 1) 20%, rgba(0, 169, 157,0) 50%);
}
.section .cercle.cercle4{
  width: 200px;
  height: 200px;
  bottom: 2%;
  left: 15%;
  background-image: radial-gradient(circle, rgba(106, 255, 203, 0.7) 10%, rgba(0, 169, 157, 1) 20%, rgba(0, 169, 157,0) 50%);
}
.section .rectangle{
  width: 80%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //background: #19E68C;
  //background: rgba(25, 230, 140, 0.5);
  background-image: radial-gradient(circle, rgba(25, 230, 140, 1), rgba(63, 255, 172, 0.1));
}

nav {
  position: fixed;
  top: 0;
  left: 5%;
  color: white;
  z-index: 1;
}
nav ul li.animate {
  top: 0;
}
nav ul li {
  display: inline-block;
  text-align: center;
  margin: 1em 2em;
  cursor: pointer;
  position: relative;
  top: -8em;
}
nav ul li:nth-child(1) {
  -moz-transition: top 0.3s ease 0.15s;
  -o-transition: top 0.3s ease 0.15s;
  -webkit-transition: top 0.3s ease;
  -webkit-transition-delay: 0.15s;
  transition: top 0.3s ease 0.15s;
}
nav ul li:nth-child(2) {
  -moz-transition: top 0.3s ease 0.2s;
  -o-transition: top 0.3s ease 0.2s;
  -webkit-transition: top 0.3s ease;
  -webkit-transition-delay: 0.2s;
  transition: top 0.3s ease 0.2s;
}
nav ul li:nth-child(3) {
  -moz-transition: top 0.3s ease 0.25s;
  -o-transition: top 0.3s ease 0.25s;
  -webkit-transition: top 0.3s ease;
  -webkit-transition-delay: 0.25s;
  transition: top 0.3s ease 0.25s;
}
nav ul li:nth-child(4) {
  -moz-transition: top 0.3s ease 0.3s;
  -o-transition: top 0.3s ease 0.3s;
  -webkit-transition: top 0.3s ease;
  -webkit-transition-delay: 0.3s;
  transition: top 0.3s ease 0.3s;
}
nav ul li:nth-child(5) {
  -moz-transition: top 0.3s ease 0.35s;
  -o-transition: top 0.3s ease 0.35s;
  -webkit-transition: top 0.3s ease;
  -webkit-transition-delay: 0.35s;
  transition: top 0.3s ease 0.35s;
}
nav ul li:hover {
  opacity: 1;
}
nav ul li i {
  font-size: 1.5em;
  background: #10d7af;
  padding: 0.75em;
  border-radius: 50%;
  color: white;
  display: inline-block;
  overflow: hidden;
}
nav ul li h4 {
  line-height: 2.5;
}

/*

.menu-icon {
  position: fixed;
  z-index: 70;
  display: block;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
}
.menu-icon:hover span {
  background: #222;
}
.menu-icon:hover span:before, .menu-icon:hover span:after {
  background: #222;
}
.menu-icon > span {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 0.25em;
  background-color: #3c3c3c;
  border-radius: 3px;
  transition: background 0.25s ease, -webkit-transform 0.3s;
  transition: transform 0.3s, background 0.25s ease;
  transition: transform 0.3s, background 0.25s ease, -webkit-transform 0.3s;
}

.menu-icon > span:before,
.menu-icon > span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3c3c3c;
  border-radius: 3px;
  transition: background 0.25s ease, -webkit-transform 0.3s;
  transition: transform 0.3s, background 0.25s ease;
  transition: transform 0.3s, background 0.25s ease, -webkit-transform 0.3s;
}

.menu-icon > span:before {
  -webkit-transform: translateY(-0.75em);
  transform: translateY(-0.75em);
}

.menu-icon > span:after {
  -webkit-transform: translateY(0.75em);
  transform: translateY(0.75em);
}

.menu-icon.open {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-icon.open > span:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.menu-icon.open > span:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

*/



/*  LIGHTBOX  */
.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
    //position: fixed;
	position: absolute;
	z-index: 999;
	width: 35%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img, .lightbox iframe {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}
.section .slide .lightbox img{
    width: auto;
    margin: auto;
    position: relative;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}

.visuallyHidden{
    display: none;
}
